@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

@theme{
  --color-background: oklch(0.982 0.0041 91.45);  
  
  --color-focus: oklch(0.8292 0.123 87.42);


  --font-googlesans: "Google Sans", sans-serif;
}

.body{
  @apply font-googlesans;
}

.headerInfo{
  @apply flex flex-row justify-center items-center gap-2 text-lg duration-150 ease-in-out hover:text-focus;
}

.headerText{
  @apply text-sm duration-150 ease-in-out hover:text-focus;
}